/*     fuente  */
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@300&display=swap');
@import "body";
@import "headerNavbar";
@import "footer";
@import "especialidades";


/*     estilo header  */
/*body {
  background-image: url('../img/fondo.jpg');

  main {
    font-family: 'Arima', cursive;
    background-size: cover;
    font-weight: bold;
  }

}*/








@media (max-width: 670px) {
  .logoDos {
    background-image: url('../img/logo\ 2\ mobile.jpg');
  }

  .logoUno {
    display: none;
  }
}


@media (max-width: 850px) {
  .especialidades {
    grid-template-areas: "integral""implantes""ortodoncia""endodoncia";
  }

  .implantes {
    margin-top: 0%;
  }

  .menuNavegacion {
    display: none;
  }
}